<div class="container">
    <div class="card">
        <div class="info">
            <img src="../../../assets/error.png" alt="">
            <div>
                <p class="text404">404</p>
                <p class="text">Page not found the page you were <br> looking for could not be found</p>
                
                <div class=""  >
                    <button class="btnBack" routerLink="/login"> <img src="../../../assets/left.png" > Go to back home </button>
                </div>
                
            </div>
        </div>
    </div>
</div>