<div class="container">


    <form action="">

        <div class="card">
            <div class="title">Sign Up</div>

            <div>
                <label for="name">Name</label>
                <input type="text" placeholder="Your name">
            </div>
            <div>
                <label for="Second name">Second name</label>
                <input type="text" placeholder="Your second name">
            </div>

            <div>
                <label for="Last name">Last name</label>
                <input type="text" placeholder="Your last name">
            </div>

            <div>
                <label for="PhoneNumer">Phone number</label>
                <input type="text" placeholder="Your number">
            </div>

            <div>
                <label for="id">ID</label>
                <input type="text" placeholder="Your id">
            </div>

            <div>
                <label for="newPassword">Create your password</label>
                <input type="text" placeholder="Your password">
            </div>

            <button class=" btn " type="submit " value="login ">Sign in</button>

        </div>


    </form>


</div>