.container {
    width: 50%;
    display: block;
    flex-direction: column;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -49%);
    float: left;
    margin: 20px;
    border-radius: 50px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    text-align: left;
    padding: 60px;
    flex-direction: row;
}

.titles {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin-bottom: 68px;
    font-weight: 700;
    color: #DBDBDB !important;
    cursor: pointer;
    
}

.titleLeft {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin-bottom: 68px;
    font-weight: 700;
}

.labelInput {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr;
    grid-gap: 10px;
    margin-bottom: 12px;
    
}

.labelMargin {
    color: #6B6B6B;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.form-control {
    width: 60%;
    background-color: #F1F1F1;
    margin-bottom: 20px;
    margin-top: 12px;
    border: none;
    padding: 15px 24px;
    padding-right: 40px !important;
    font-family: 'Inter', sans-serif;
    opacity: 85%;
    font-weight: 400;
    border-radius: 10px;
    color: #6B6B6B;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);

}

.labelPass {
    color: #6B6B6B;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.inputPass {
    width: 80%;
    background-color: #F1F1F1;
    margin-top: 12px;
    border: none;
    padding: 15px 24px;
    padding-right: 40px !important;
    font-family: 'Inter', sans-serif;
    opacity: 70%;
    font-weight: 400;
    border-radius: 10px;
    color: #6B6B6B;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);

}