<div class="container">

    <div class="card card-title"> Carnet ID </div>

    <div class="cuadriculas">


        <div class="cardUser cardUser-info">
            <img src="../../../assets/perfil.png" class="perfil"> PONER EN UN CONTENDOR LA IMAGEN Y EL USER
            <label class="labelName">Angel</label>

        </div>

        <div class="cardPrint cardPrint-print">
            PRINT CARD
        </div>


    </div>


    <div class="cardNoMessage cardNoMessage-message ">

    </div>


</div>