<div class="container">

    <div class="card card-title"> Carnet ID </div>

    <div class="cuadriculas">


        <div class="cardUser cardUser-info">
            <img src="../../../assets/perfil-del-usuario.png" class="perfil">
            <label class="labelName">Angel</label>

        </div>
        <br>

        <div class="cardPrint cardPrint-print">

            <div class="texts">

                <h1 class="h1Print">Print Card</h1>
                <p class="parrafo">You cant print card the user card
                </p>

            </div>
            <img src="../../../assets/descargar.png" class="download">

        </div>


    </div>

    <div class="cardNoMessage cardNoMessage-message ">


        <img class="imagenNoMessage" src="../../../assets/correo-electronico.png">

    </div>

</div>