<div class="container">

    <div class="card card-title"> 
        <p>
            Carnet ID 
        </p>
        <img routerLink="/cardList" src="../../../assets/previous page.png" >
        </div>

    <div class="cuadriculas">


        <div class="cardUser cardUser-info">
           <div>

               <img src="../../../assets/perfil-del-usuario.png" class="perfil">
            </div>
            <div>
                <label class="labelName">Angel</label>
            
            </div>
        </div>
       
        <br>

        <div class="cardPrint cardPrint-print">

            <div class="texts">

                <h1 class="h1Print">Print Card</h1>
                <p class="parrafo">You cant print card the user card
                </p>

            </div>
            <img src="../../../assets/descargar.png" class="download">

        </div>


    </div>

    <div class="cardNoMessage cardNoMessage-message ">


        <img class="imagenNoMessage" src="../../../assets/correo-electronico.png">

    </div>

</div>