.container {
    width: 50%;
    display: block;
    flex-direction: column;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    float: left;
    margin: 20px;
    border-radius: 50px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    text-align: left;
    padding: 60px;
    flex-direction: row;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin-bottom: 68px;
    font-weight: 700;
    text-align: center;
}

.labelInput {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr;
    grid-gap: 10px;
    text-align: left;
}

label {
    color: #6B6B6B;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

input {
    width: 60%;
    background-color: #F1F1F1;
    margin-bottom: 20px;
    margin-top: 12px;
    border: none;
    padding: 15px 24px;
    padding-right: 40px !important;
    font-family: 'Inter', sans-serif;
    opacity: 70%;
    font-weight: 400;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);

}

.btn-cancel {
    width: 100%;
    background: #E96161;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    width: 197.65px;
    height: 64px;
    margin-top: 50px !important;
    cursor:pointer;
}

.btn-accept {
    width: 100%;
    background: #5C6DFF;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    width: 197.65px;
    height: 64px;
    margin-top: 50px !important;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor:pointer;

}