<div class="container">


    <form action="">

        <div class="card">

            <div class="title">Edit user</div> <br>
            <!-- <div>
                <h1 class="title">Sign in</h1>
                <h1 class="title">Sign up</h1>
            </div> -->
            <div class="labelInput">


                <div class="inputName">
                    <label for="userName" class="labelUser">User name</label><br>
                    <input type="text" placeholder="Your user name">
                </div>
                <div>
                    <label for="firstName" class="labelPass">First name</label><br>
                    <input type="text" placeholder="Your first name">
                </div>
                <div>
                    <label for="lastName" class="labelPass">Last name</label><br>
                    <input type="text" placeholder="Your last name">
                </div>
                <div>
                    <label for="phoneNumer" class="labelPass">Phone number</label><br>
                    <input type="text" placeholder="Your phone number">
                </div>

                <div>
                    <label for="id" class="labelPass">ID</label><br>
                    <input type="text" placeholder="Your ID">
                </div>
                <div>
                    <label for="emailAddress" class="labelPass">Email</label><br>
                    <input type="text" placeholder="Your Email">
                </div>


                <button class="btn-cancel" type="text" value="cancel" routerLink="/cardList">Cancel</button>
                <button class="btn-accept" type="submit" value="accept">Accept</button>

            </div>

        </div>


    </form>


</div>