<div class="container">


    <form action="">

        <div class="card">

            <div class="title">Edit user</div> <br>

            
          
            <div class="labelInput">


                <div class="inputName">
                    <label for="userName" class="labelUser">User name</label><br>
                    <input type="text" value="{{labels.userName}}">
                </div>
                <div>
                    <label for="firstName" class="labelPass">First name</label><br>
                    <input type="text" value="{{labels.firstName}}">
                </div>
                <div>
                    <label for="lastName" class="labelPass">Last name</label><br>
                    <input type="text" value="{{labels.lastName}}">
                </div>
                <div>
                    <label for="phoneNumer" class="labelPass">Phone number</label><br>
                    <input type="text" required pattern=" /^\d*$/.test(value)" value="{{labels.phoneNumber}}">
                </div>


                



                <div>
                    <label for="id" class="labelPass">ID</label><br>
                    <input type="text" value="{{labels.id}}" disabled>
                </div>
                <div>
                    <label for="emailAddress" class="labelPass">Email</label><br>
                    <input type="text" value="{{labels.emailAddress}}">
                </div>


                <button class="btn-cancel" type="text" value="cancel" routerLink="/cardList">Cancel</button>
                <button class="btn-accept" type="submit" value="accept " routerLink="/cardList">Accept</button>

            </div>

        </div>


    </form>


</div>