<div class="container">


    <form action="">

        <div class="card">

            <div class="title">Edit user</div> <br>
            <!-- <div>
                <h1 class="title">Sign in</h1>
                <h1 class="title">Sign up</h1>
            </div> -->
            <div class="labelInput">


                <div class="inputName">
                    <label for="name" class="labelUser">Name</label><br>
                    <input type="text" placeholder="Your name">
                </div>
                <div>
                    <label for="secondName" class="labelPass">Second name</label><br>
                    <input type="text" placeholder="Your second name">
                </div>
                <div>
                    <label for="lastName" class="labelPass">Last name</label><br>
                    <input type="text" placeholder="Your last name">
                </div>
                <div>
                    <label for="phone" class="labelPass">Phone number</label><br>
                    <input type="text" placeholder="Your phone number">
                </div>

                <div>
                    <label for="id" class="labelPass">ID</label><br>
                    <input type="text" placeholder="Your ID">
                </div><br>

                <button class="btn-cancel" type="text" value="cancel" routerLink="/cardList">Cancel</button>
                <button class="btn-accept" type="submit" value="accept">Accept</button>

            </div>

        </div>


    </form>


</div>