<div class="table">
    <table>

        <thead>
            <tr>
                <th>
                    <input type="checkbox" class="check" />
                </th>
                <th *ngFor="let data of titleData">
                    <p>{{ data.text }}</p>
                </th>
                <th>
                    <p>Card</p>

                </th>
                <th>

                    <p>Edit</p>
                </th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let user of gridData">

                <td>
                    <input type="checkbox" class="check" />
                </td>
                <!-- <td>
                   <img src="../../../assets/perfil-del-usuario.png"> 
                </td> -->
                <td>
                    <p>{{user.userName}}</p>
                </td>
                <td>
                    <p>987654321</p>
                </td>
                <td>

                    <p>{{user.emailAddress}}</p>
                </td>

                <td>
                    <img class="image" src="../../../assets/vista.png">
                </td>

                <td>
                    <img class="image"  src="../../../assets/lapiz.png" routerLink="/editUser/:id">
                </td>

                <td>
                    <img class="image"  src="../../../assets/eliminiar.png">
                </td>
            </tr>
        </tbody>

    </table>
</div>