<div class="table">
    <table>

        <thead>
            <tr>
                <th>
                    <input type="checkbox" class="check" />
                </th>
                <th *ngFor="let data of titleData">
                    <p class="titles">{{ data.text }}</p>
                </th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let user of gridData">

                <td>
                    <input type="checkbox" class="check" />
                </td>
                <!-- <td>
                   <img src="../../../assets/perfil-del-usuario.png"> 
                </td> -->
                <td>
                    <p class="info">{{user.userName}}</p>
                </td>
                <td>
                    <p class="info">987654321</p>
                </td>
                <td>

                    <p class="info">{{user.emailAddress}}</p>
                </td>
                <td>
                    <p class="info"> May,1,2022</p>
                </td>

                <td>
                    <img class="image" src="../../../assets/vista.png">
                </td>

                <td>
                    <img class="image" src="../../../assets/lapiz.png" routerLink="/editUser/:id">
                </td>

                <td>
                    <img (click)="removeUser(user.id)" class="image" src="../../../assets/eliminiar.png">
                </td>
            </tr>
        </tbody>

    </table>
</div>