.container {
    width: 50%;
    display: block;
    flex-direction: column;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    float: left;
    margin: 20px;
    border-radius: 50px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    text-align: left;
    padding: 0 129px;
    flex-direction: row;
    padding-top: 128px !important;
    padding-bottom: 58px!important;
}


p{
    margin-top: 0;
    margin-bottom: 65px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color:#6B6B6B;
}

.btns{
display: flex;
    justify-content: space-between;
}

.btn-cancel {
    width: 100%;
    background: #E96161;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    width: 197.65px;
    height: 64px;
    cursor:pointer;
}

.btn-accept {
    width: 100%;
    background: #5C6DFF;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    width: 197.65px;
    height: 64px;
    cursor:pointer;

}