<div class="container">


    <form action="">

        <div class="card">

            <div class="title">Sign In</div>
            <div>
                <label for="emailAddress" class="labelUser">Email address</label>
                <input type="text" placeholder="sncndic@gmail.com">
            </div>
            <div>
                <label for="password" class="labelPass">Password</label>
                <input type="password" placeholder="Enter your pasword">
            </div>

            <button class="btn" type="submit" value="login">sign in</button>

        </div>


    </form>


</div>