<div class="container">

    <span *ngIf="submitted && loginForm.invalid" id="span">Todos los campos son obligatorios</span>

    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">

        <div class="card">

            <div class="title">Sign In</div>
            <!-- <div>
                <h1 class="title">Sign in</h1>
                <h1 class="title">Sign up</h1>
            </div> -->

            <div>
                <label for="emailAddress" class="labelUser">Email address</label>
                <input type="text" class="form-control" formControlName="email" placeholder="sncndic@gmail.com">
            </div>
            <div>
                <label for="password" class="labelPass">Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder=" Enter your pasword ">
            </div>

            <button class="btn " type="submit " value="login ">sign in</button>

        </div>


    </form>


</div>