body {
    background-color: #E5E5E5;
    background-size: cover;
}

.btn {
    width: 100%;
    background: #5C6DFF;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    width: 420px;
    height: 70px;
    margin-top: 50px;
}