body {
    background-color: #f6f4f4;
    background-size: cover;
    
}

.btn {
    width: 100%;
    background: #5C6DFF;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    height: 70px;
    margin-top: 20px;
    cursor: pointer;
}

.disable {
    background: #8290ad !important;
    color: #fafafa !important;
    cursor: auto !important;
}

.error {
    color: #d32f2f;
}

.modal-error {
    width: 100%;
    text-align: left;
    font: normal normal 600 13px/15px Urbanist;
    letter-spacing: 0px;
    opacity: 1;
}