<div class="container">

    <div class="card card-title"> 
    <p>
        Carnet ID 
    </p>
    <img routerLink="/login" src="../../../assets/previous page.png" >
    </div>

<div class="card">
    
    <h1>Users</h1>
    <div class=" card-title-filter">
        <div class="searchs">
            <!-- buscador general -->
            <input  class="search" type="search" placeholder="Search for..." >
            <!-- buscador por nombres -->
            <input class="searchName" type="search" name="Search" placeholder="Name" >
            <!-- buscador general -->
            <input class="search" type="search" name="Email" placeholder="Email" >
        </div>
        <div class="select">
            <!-- <input class="options" type="search" name="Search" placeholder="Date" > -->
            <select class="options" name="Sort By" id="">
                <option value="">Sort by</option>
                <option value="">option1</option>
                <option value="">option2</option>
                <option value="">option3</option>

            </select>
        </div>
    </div>
</div>
    

<div class="cardTable">

    <app-user-table [rowData]="rowData" [colData]="colData"></app-user-table>
</div>

</div>